# بيئة بايثون الافتراضية
env/
venv/
ENV/
.venv/

# ملفات الترجمة المؤقتة
__pycache__/
*.py[cod]
*.so

# ملفات قاعدة البيانات
*.sqlite3
*.db

# ملفات إعدادات محررات النصوص
.vscode/
.idea/

# ملفات نظام macOS
.DS_Store

# مجلد instance (غالبًا يحتوي على إعدادات محلية)
instance/

# كاشات mypy
.mypy_cache/

# ملفات اللوق
*.log

# مجلد التعديلات الآنية لـ flask
*.pid

# شهادات تم رفعها مؤقتًا
uploads/

